/* 清除 margin / padding 差異 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 body {
  font-family: Arial, "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;   /* 置中 */
  padding: 0 16px;  /* 左右留白 */
}

h1, h2, h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 6px;
  background: #198C75;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background: #136f5e; /* 深一點的綠色 */
}

.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 16px;
}